[defaults]
inventory = inventory
private_key_file = ~/.ssh/ansible
ansible_python_interpreter = /usr/bin/python3.14


[privileage_escalation]
become_user = matt

[runas_become_plugin]
user = matt
password = admin
